@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: var(--violet);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  opacity: 0.8;
  line-height: 24px;
}

img {
  max-width: 100%;
}

.logo {
  width: 20%;
  height: 20%;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.content {
  display: flex;
  margin: 100px 0;
}

.left-side img {
  width: 100vw;
  margin-right: 20px;
}

.right-side {
  margin-left: 20px;
}

.btn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 12px 50px;
  color: var(--violet);
  cursor: pointer;
  margin: 20px 0;
}

.btn:hover {
  background-color: var(--magenta);
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.2rem;
}

.social-links a {
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-links a:hover {
  border-color: var(--magenta);
  color: var(--magenta);
}

@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
    height: 30%;
  }
  .content {
    flex-direction: column;
    margin: 50px 0;
  }

  .left-side {
    width: 90%;
    margin: 0 auto;
  }

  .right-side {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}
