@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: var(--violet);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav img {
  padding: 30px;
  width: 250px;
}

.wrapper {
  display: flex;
  margin: 50px 100px;
}

.left-col img {
  max-width: 100%;
}

.right-col {
  width: 700px;
  margin-left: 50px;
}

.right-col h1 {
  margin-top: 30px;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}

.right-col p {
  line-height: 30px;
  font-size: 18px;
  margin: 25px 0px 20px;
}

.btn {
  padding: 10px 50px;
  color: var(--violet);
  font-family: inherit;
  border-radius: 30px;
  font-size: 15px;
  border: none;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--magenta);
  color: #fff;
}

.social-icons {
  position: relative;
}

.icons {
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.icons li {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.icons li i {
  font-size: 1.4rem;
}

.icons li:hover {
  color: var(--magenta);
  border: 1px solid var(--magenta);
}

@media (max-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-col {
    width: 100%;
  }
  .btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav img {
    width: 200px;
  }
  .left-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .right-col {
    width: 80vw;
    margin: 0 auto;
  }

  .right-col h1 {
    font-size: 26px;
  }
  .btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -20px 0;
  }
}
