@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: white;
  width: 280px;
  height: 460px;
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 30px;
}

.card-title h4 {
  margin: 0 20px 20px;
  text-align: center;
  font-size: 20px;
}

.card-desc p {
  color: var(--grayishBlue);
  font-size: 15px;
  font-weight: 400;
  margin: 0 20px;
  text-align: center;
  line-height: 20px;
}

/* footer bottom */
.attribution {
  position: absolute;
  bottom: 2%;
  font-size: 11px;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
