@import "global";
@import "variables";
@import "_media-quaries";

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  .left-side {
    padding: 30px;
    background: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    .mobile-img {
      display: none;
    }
    .logo {
      margin-bottom: 120px;
    }
    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: 300;
      color: $redishPink;
      letter-spacing: 3.5px;
      span {
        font-weight: 600;
        color: $grayishRed;
      }
    }
    .text {
      color: $redishPink;
      line-height: 1.7;
      max-width: 450px;
      margin: 30px 0;
    }
    .input {
      position: relative;
      input {
        padding: 15px 25px;
        border-radius: 50px;
        width: 80%;
        border: none;
        border: 1px solid $redishPink;
        color: $redishPink;
        font-size: 16px;
        position: relative;
        &::placeholder {
          color: $redishPink;
          opacity: 0.7;
          letter-spacing: 0.7px;
        }
        &:focus {
          outline: none;
          border: 2px solid $softRed;
        }
      }
      .btn {
        padding: 15px 40px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 80px;
        transform: translateY(-5%);
        background-image: linear-gradient(
          135deg,
          hsl(0, 80%, 86%),
          hsl(0, 74%, 74%)
        );
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        &:hover {
          background-image: linear-gradient(
            135deg,
            hsl(0, 80%, 92%),
            hsl(0, 74%, 84%)
          );
        }
      }
      .error {
        position: absolute;
        bottom: 50%;
        left: 52%;
        transform: translateY(-50%);
        display: none;
        &.active {
          display: block;
        }
      }
      span {
        display: none;
        padding: 15px 25px;
        color: $softRed;
        &.active {
          display: block;
        }
      }
    }
  }
  .right-side {
    img {
      width: 100%;
    }
  }
  @include masaustu {
    .right-side {
      img {
        display: none;
      }
    }
  }
  @include tablet {
    .left-side {
      padding: 0;
      .mobile-img {
        display: block;
        img {
          width: 100%;
        }
      }
      .logo {
        margin: 40px;
      }
      h1 {
        text-align: center;
        font-size: 2.8rem;
        margin: 20px 0;
      }
      .text {
        text-align: center;
      }
      .input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .btn {
          right: 0;
        }
      }
    }
  }
  @include mobile {
    .left-side {
      width: 100%;
      padding: 0;
      margin: 0;
      .mobile-img {
        img {
          width: 100%;
          padding: 0;
          margin: 0;
        }
      }
      h1 {
        margin: 30px 0 20px 0;
        font-size: 2.2rem;
        text-align: center;
      }
      .text {
        max-width: 300px;
        font-size: 0.9rem;
        text-align: center;
        margin: 0 auto;
      }
      .input {
        .btn {
          position: absolute;
          right: 30px;
        }
      }
    }
  }
}
