@import url("https://fonts.google.com/specimen/Outfit");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  padding: 10px;
}

.card-container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-photo img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

h3 {
  color: #fff;
  margin: 15px 0px;
  cursor: pointer;
}

h3:hover {
  color: hsl(178, 100%, 50%);
}
.card-title {
  font-size: 14px;
  color: hsl(215, 51%, 70%);
  margin: 10px 0px;
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
}

.card-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.icons.left span {
  padding-left: 8px;
  color: hsl(178, 100%, 50%);
}

.icons.right span {
  color: hsl(215, 51%, 70%);
  padding-left: 8px;
}

.footer-img img {
  width: 35px;
  height: 35px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.card-footer {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.footer-author {
  text-align: center;
}

.footer-author p {
  font-weight: 400;
  letter-spacing: 0.3px;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  color: hsl(215, 51%, 70%);
}

.footer-author span {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.footer-author span:hover {
  color: hsl(178, 100%, 50%);
}

/* footer bottom */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.line {
  border-color: rgba(255, 255, 255, 0.274);
}
